@mixin mq($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.rowC {
  display: flex;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 3%;
  width: 80%;
  height: 100%;
  @include mq(900px) {
    flex-direction: column;
  }
}
.label {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.spinner {
  padding-top: 10%;
  padding-bottom: 5%;
}
